.content__container{
  margin: 0 auto;
  width: 65%;
  border-radius: 10px;
  margin-top: 20px;
}

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.flex-container{
  display: flex;
}

.error__message__label{
  color: red;
}


